In [10]:
import numpy as np
import pandas as pd

In [11]:
admissions = pd.read_csv('binary.csv')
admissions

     admit  gre   gpa  rank
0        0  380  3.61     3
1        1  660  3.67     3
2        1  800  4.00     1
3        1  640  3.19     4
4        0  520  2.93     4
..     ...  ...   ...   ...
395      0  620  4.00     2
396      0  560  3.04     3
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3

[400 rows x 4 columns]

In [12]:
# Make dummy variables for rank
data = pd.concat([admissions, pd.get_dummies(admissions['rank'], prefix='rank')], axis=1)
data

     admit  gre   gpa  rank  rank_1  rank_2  rank_3  rank_4
0        0  380  3.61     3       0       0       1       0
1        1  660  3.67     3       0       0       1       0
2        1  800  4.00     1       1       0       0       0
3        1  640  3.19     4       0       0       0       1
4        0  520  2.93     4       0       0       0       1
..     ...  ...   ...   ...     ...     ...     ...     ...
395      0  620  4.00     2       0       1       0       0
396      0  560  3.04     3       0       0       1       0
397      0  460  2.63     2       0       1       0       0
398      0  700  3.65     2       0       1       0       0
399      0  600  3.89     3       0       0       1       0

[400 rows x 8 columns]

In [13]:
data = data.drop('rank', axis=1)
data

     admit  gre   gpa  rank_1  rank_2  rank_3  rank_4
0        0  380  3.61       0       0       1       0
1        1  660  3.67       0       0       1       0
2        1  800  4.00       1       0       0       0
3        1  640  3.19       0       0       0       1
4        0  520  2.93       0       0       0       1
..     ...  ...   ...     ...     ...     ...     ...
395      0  620  4.00       0       1       0       0
396      0  560  3.04       0       0       1       0
397      0  460  2.63       0       1       0       0
398      0  700  3.65       0       1       0       0
399      0  600  3.89       0       0       1       0

[400 rows x 7 columns]

In [14]:
for field in ['gre','gpa']:
    mean, std = data[field].mean(), data[field].std()
    print(data.loc[:,field])

0      380
1      660
2      800
3      640
4      520
      ...
395    620
396    560
397    460
398    700
399    600
Name: gre, Length: 400, dtype: int64
0      3.61
1      3.67
2      4.00
3      3.19
4      2.93
       ...
395    4.00
396    3.04
397    2.63
398    3.65
399    3.89
Name: gpa, Length: 400, dtype: float64

In [15]:
# Standarize features
for field in ['gre','gpa']:
    mean, std = data[field].mean(), data[field].std()
    data.loc[:,field] = (data[field]-mean)/std
    print(data.loc[:,field])

0     -1.798011
1      0.625884
2      1.837832
3      0.452749
4     -0.586063
         ...
395    0.279614
396   -0.239793
397   -1.105469
398    0.972155
399    0.106478
Name: gre, Length: 400, dtype: float64
0      0.578348
1      0.736008
2      1.603135
3     -0.525269
4     -1.208461
         ...
395    1.603135
396   -0.919418
397   -1.996759
398    0.683454
399    1.314093
Name: gpa, Length: 400, dtype: float64

In [16]:
# Split off random 10% of the data for testing
np.random.seed(21)
print(data.index)
sample = np.random.choice(data.index, size=int(len(data)*0.9), replace=False)
sample

RangeIndex(start=0, stop=400, step=1)

array([106,   9,  61, 224,  37, 242, 313,  52, 347, 239, 314,  99, 209,
       311, 326, 136, 372,  16, 266, 164, 175, 149, 119,  51, 341,  89,
       211, 393,  47, 174, 141,  40,  82,  20, 135, 187, 115,  96, 374,
       156, 243,  11,  70,  55, 192,  72,  66, 262, 333, 378, 296, 213,
       130, 179, 343, 388, 323, 354, 134, 168, 200, 360, 389,  59, 288,
       247, 249, 170, 185, 300, 142,  92, 228, 127, 284,  45, 359, 351,
       186, 362, 191, 278, 272, 128, 285, 104, 195,   6, 203,  77, 166,
       340, 352,  24, 316,   4, 165,  93, 289, 365, 145, 216, 377, 176,
        91, 320, 155, 302, 321, 196, 244, 143,  19, 269, 152,  23, 157,
       349, 255, 180, 113,  26, 178,  95,  29,  57, 270, 319,  44,  53,
       102,  76, 199,  97,  86,  46, 198, 329,  30, 223, 182, 276, 385,
       232,  60, 258, 380, 124, 384, 376, 335, 212, 163, 219, 159, 294,
       234, 190, 215, 201, 265, 208,  88, 129, 231, 337,  56, 279,  25,
        62, 275, 381, 336,  73,  39, 117,  15, 214, 105,  74,  21, 225,
       264,  17, 150, 116, 391, 331, 138, 173, 111,   7,  78, 123, 277,
       290,  87, 109,  83, 177, 357,  75, 369,   2, 252,  42,  79,  13,
        85, 263, 251, 222, 197, 292, 344, 397, 392, 147, 139, 353,  22,
       283, 100, 318, 390,  54,  69, 298,  12, 361, 172, 154, 131, 379,
       364,  14, 114, 146, 217, 297, 366,  31,  90, 210, 226,  35, 367,
       140, 101, 256, 167,  43, 151, 301, 273, 108, 282, 259, 342, 358,
       345, 350,  36, 330, 299, 158, 373,   0,  41,  34, 398, 355,  68,
        10, 394, 237, 189, 363, 324, 257, 193,  38,  94,   3, 327,  81,
       125, 370, 183, 387, 305, 205, 293, 267, 334,  49, 306, 339,  65,
       308,  67, 221, 194, 287,  32, 383, 161,  27, 310, 307,   1, 227,
       144, 395, 162, 132, 254, 245, 295,  18, 171,   5, 303, 206, 220,
       153,  64, 107, 126, 281, 280, 103,  58,   8,  33,  71, 121, 322,
       181, 399,  63, 112, 160, 382, 218, 250, 230, 348, 286, 332, 118,
       235, 325, 371, 137,  28, 346, 271, 338, 240])

In [17]:
data, test_data = data.iloc[sample], data.drop(sample)

In [18]:
data

     admit       gre       gpa  rank_1  rank_2  rank_3  rank_4
106      1  0.972155  0.446965       1       0       0       0
9        0  0.972155  1.392922       0       1       0       0
61       0 -0.239793 -0.183673       0       0       0       1
224      0  1.837832 -1.287291       0       1       0       0
37       0 -0.586063 -1.287291       0       0       1       0
..     ...       ...       ...     ...     ...     ...     ...
28       1  1.664697 -0.446439       0       1       0       0
346      0  0.106478 -0.104844       0       1       0       0
271      0 -0.412928 -0.157397       0       0       1       0
338      0 -0.412928 -0.498993       1       0       0       0
240      0 -1.278605 -1.655163       0       1       0       0

[360 rows x 7 columns]

In [20]:
test_data

     admit       gre       gpa  rank_1  rank_2  rank_3  rank_4
48       0 -1.278605 -2.390908       0       0       0       1
50       0  0.452749  1.235263       0       0       1       0
80       0  0.972155 -1.287291       0       0       0       1
84       1 -0.759199  0.552071       0       0       1       0
98       0  0.972155 -1.339844       0       1       0       0
110      0  0.799020 -0.814312       0       0       0       1
120      1 -0.586063  0.919944       0       1       0       0
122      0 -0.586063 -1.418674       0       0       1       0
133      0 -0.759199 -0.814312       0       0       1       0
148      1 -0.932334 -1.261014       1       0       0       0
169      0  0.106478  0.604625       0       0       1       0
184      0 -0.759199 -1.576333       0       0       0       1
188      0 -0.239793 -0.840588       0       1       0       0
202      1  0.972155  1.603135       1       0       0       0
204      1  0.106478  1.314093       1       0       0       0
207      1  0.452749  0.630901       1       0       0       0
229      1  1.145291  0.079093       0       1       0       0
233      0 -1.451740 -1.891652       0       0       1       0
236      1  0.625884  0.263029       0       1       0       0
238      0 -0.759199 -1.392397       0       0       0       1
241      1 -0.586063  1.103880       1       0       0       0
246      0  0.799020 -0.131120       0       1       0       0
248      0  0.799020  0.657178       0       0       1       0
253      1 -0.412928  0.420688       0       0       0       1
260      0  0.799020 -0.735482       0       1       0       0
261      0 -1.278605 -0.630376       0       1       0       0
268      1  0.799020  0.184199       0       1       0       0
274      0 -0.586063 -0.709205       0       1       0       0
291      0  1.837832 -1.602610       0       1       0       0
304      0 -3.183094 -1.471227       0       0       1       0
309      0 -1.278605 -1.077078       0       0       1       0
312      0  0.625884  0.998773       0       0       1       0
315      1 -2.490553 -1.444950       0       1       0       0
317      1  1.664697  0.630901       0       0       0       1
328      0 -0.066657 -0.131120       0       1       0       0
356      0  0.972155 -0.315056       0       1       0       0
368      0 -0.066657  1.603135       1       0       0       0
375      0 -0.239793  0.263029       0       0       0       1
386      1  1.318426  1.235263       0       1       0       0
396      0 -0.239793 -0.919418       0       0       1       0

In [21]:
# Split into features and targets
features, targets = data.drop('admit', axis=1), data['admit']
features_test, targets_test = test_data.drop('admit', axis=1), test_data['admit']

In [30]:
print("====features====")
print(features)
print("====features.values====")
print(features.values)
print("====targets====")
print(targets)
print("====features_test====")
print(features_test)
print("====targets_test====")
print(targets_test)

====features====
          gre       gpa  rank_1  rank_2  rank_3  rank_4
106  0.972155  0.446965       1       0       0       0
9    0.972155  1.392922       0       1       0       0
61  -0.239793 -0.183673       0       0       0       1
224  1.837832 -1.287291       0       1       0       0
37  -0.586063 -1.287291       0       0       1       0
..        ...       ...     ...     ...     ...     ...
28   1.664697 -0.446439       0       1       0       0
346  0.106478 -0.104844       0       1       0       0
271 -0.412928 -0.157397       0       0       1       0
338 -0.412928 -0.498993       1       0       0       0
240 -1.278605 -1.655163       0       1       0       0

[360 rows x 6 columns]
====features.values====
[[ 0.97215519  0.44696493  1.          0.          0.          0.        ]
 [ 0.97215519  1.39292245  0.          1.          0.          0.        ]
 [-0.23979251 -0.18367342  0.          0.          0.          1.        ]
 ...
 [-0.41292789 -0.15739682  0.          0.          1.          0.        ]
 [-0.41292789 -0.49899259  1.          0.          0.          0.        ]
 [-1.27860482 -1.6551629   0.          1.          0.          0.        ]]
====targets====
106    1
9      0
61     0
224    0
37     0
      ..
28     1
346    0
271    0
338    0
240    0
Name: admit, Length: 360, dtype: int64
====features_test====
          gre       gpa  rank_1  rank_2  rank_3  rank_4
48  -1.278605 -2.390908       0       0       0       1
50   0.452749  1.235263       0       0       1       0
80   0.972155 -1.287291       0       0       0       1
84  -0.759199  0.552071       0       0       1       0
98   0.972155 -1.339844       0       1       0       0
110  0.799020 -0.814312       0       0       0       1
120 -0.586063  0.919944       0       1       0       0
122 -0.586063 -1.418674       0       0       1       0
133 -0.759199 -0.814312       0       0       1       0
148 -0.932334 -1.261014       1       0       0       0
169  0.106478  0.604625       0       0       1       0
184 -0.759199 -1.576333       0       0       0       1
188 -0.239793 -0.840588       0       1       0       0
202  0.972155  1.603135       1       0       0       0
204  0.106478  1.314093       1       0       0       0
207  0.452749  0.630901       1       0       0       0
229  1.145291  0.079093       0       1       0       0
233 -1.451740 -1.891652       0       0       1       0
236  0.625884  0.263029       0       1       0       0
238 -0.759199 -1.392397       0       0       0       1
241 -0.586063  1.103880       1       0       0       0
246  0.799020 -0.131120       0       1       0       0
248  0.799020  0.657178       0       0       1       0
253 -0.412928  0.420688       0       0       0       1
260  0.799020 -0.735482       0       1       0       0
261 -1.278605 -0.630376       0       1       0       0
268  0.799020  0.184199       0       1       0       0
274 -0.586063 -0.709205       0       1       0       0
291  1.837832 -1.602610       0       1       0       0
304 -3.183094 -1.471227       0       0       1       0
309 -1.278605 -1.077078       0       0       1       0
312  0.625884  0.998773       0       0       1       0
315 -2.490553 -1.444950       0       1       0       0
317  1.664697  0.630901       0       0       0       1
328 -0.066657 -0.131120       0       1       0       0
356  0.972155 -0.315056       0       1       0       0
368 -0.066657  1.603135       1       0       0       0
375 -0.239793  0.263029       0       0       0       1
386  1.318426  1.235263       0       1       0       0
396 -0.239793 -0.919418       0       0       1       0
====targets_test====
48     0
50     0
80     0
84     1
98     0
110    0
120    1
122    0
133    0
148    1
169    0
184    0
188    0
202    1
204    1
207    1
229    1
233    0
236    1
238    0
241    1
246    0
248    0
253    1
260    0
261    0
268    1
274    0
291    0
304    0
309    0
312    0
315    1
317    1
328    0
356    0
368    0
375    0
386    1
396    0
Name: admit, dtype: int64

In [27]:
def sigmoid(x):
    """
    Calculate sigmoid
    """
    return 1 / (1 + np.exp(-x))

# number of hidden units
n_hidden = 2
epochs = 900
learnrate = 0.005

n_records, n_features = features.shape
last_loss = None

#Initialize weights
weights_input_hidden = np.random.normal(scale=1/n_features ** .5, size = (n_features, n_hidden))
print(weights_input_hidden)
weights_hidden_output = np.random.normal(scale=1/n_features ** .5, size = n_hidden)
print(weights_hidden_output)

[[ 0.68417732 -0.35781125]
 [ 0.01213426 -0.29693373]
 [-0.23939753 -0.03103999]
 [ 0.12274901  0.00698107]
 [ 0.46777919  0.50959022]
 [-0.19755956 -0.24602298]]
[-0.12195545 -0.09478912]

In [39]:
for e in range(epochs):
    del_w_input_hidden = np.zeros(weights_input_hidden.shape)
    del_w_hidden_output = np.zeros(weights_hidden_output.shape)
    for x, y in zip(features.values, targets):
        ## Forward pass ## 
        # Calculate the output
        hidden_input = np.dot(x, weights_input_hidden)
        hidden_output = sigmoid(hidden_input) # This is the first hidden layer value
        output = sigmoid(np.dot(hidden_output, weights_hidden_output)) #  This is next hidden layer value
        
        ## Backward pass ##
        # Calculate the network's preduction error
        error = y - output # y - y_hat
        
        # Calculate error term for the output unit
        output_error_term = error * output * (1 - output)
        
        # propagate errors to hidden layer
        # Calculate the hidden layer's contribution to the error
        hidden_error = np.dot(output_error_term, weights_hidden_output)
        
        # Calculate the error term for the hidden layer
        hidden_error_term = hidden_error * hidden_output * (1 - hidden_output)
        
        # Update the change in weights
        del_w_hidden_output += output_error_term * hidden_output
        del_w_input_hidden += hidden_error_term * x[:, None]

    #Update weights
    weights_input_hidden += learnrate * del_w_input_hidden/n_records
    weights_hidden_output += learnrate * del_w_hidden_output/n_records
    
    # Printing out the mean square error on the training set
    if e % (epochs / 10) == 0:
        hidden_output = sigmoid(np.dot(x, weights_input_hidden))
        out = sigmoid(np.dot(hidden_output, weights_hidden_output))
        loss = np.mean((out - targets) ** 2)
        
        if last_loss and last_loss < loss:
            print("Train loss : ", loss, " Warning - Loss Increasing")
        else:
            print("Train loss: ", loss)
        last_loss = loss
        
# Calculate accuracy on test data
hidden = sigmoid(np.dot(features_test, weights_input_hidden))
out = sigmoid(np.dot(hidden, weights_hidden_output))
predictions = out > 0.5
accuracy = np.mean(predictions == targets_test)
print("Prediction accuracy: {:.3f}".format(accuracy))

Train loss:  0.24075705942915543
Train loss:  0.23995161889146763
Train loss:  0.23917088740148146
Train loss:  0.23841410424921275
Train loss:  0.23768053008318077
Train loss:  0.23696944664426692
Train loss:  0.23628015646442063
Train loss:  0.23561198253512336
Train loss:  0.23496426794989442
Train loss:  0.2343363755249456
Prediction accuracy: 0.650